<%= form_with model: @micropost, url: '/micropost', local: true do |form| %>
  <div class="mb-4">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-input" %>
  </div>
  <div class="mb-4">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.text_field :user_id, class: "form-input" %>
  </div>
  <div>
    <%= form.submit "Create Micropost", class: "submit-button" %>
  </div>

  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>
<% end %>

